NEXT_PUBLIC_SUPABASE_URL=<your_supabase_project_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your_supabase_anon_key>
DATABASE_URL=<your_supabase_project_database_url_for_drizzle_orm>
NEXT_SITE_URL=<your_app_url>
NEXT_REDIRECT_URLS=<app_redirect_urls>
